#QuerySettings:
# GlobalSettings:
#   Job:
#     Perf_.*15MIN_(A|Rea)ggregateJob:
#         QueryHints:
#           - spark.files.maxPartitionBytes: 67108864
#           - spark.sql.shuffle.partitions: 45
# LocalSettings:
#   Job:
#     Perf_BB_STR_SEGG_1_1_15MIN_AggregateJob:
#         QueryHints:
#           - spark.files.maxPartitionBytes: 67108864
#           - spark.sql.shuffle.partitions: 45
